<div class="tab-filter">
  <div class="all-filters" 
    fxLayout="row"
    fxLayoutGap="12px">
    <div *ngFor="let filterItem of tabItem.allFilters">
      <div class="filter-chip-container"
        [ngClass]="{ 'selected': filterItem.key === filterKey }">
        <div class="filter-chip"
        [ngClass]="filterItem.key"
        (click)="chooseFilter(filterItem.key)"
        style="cursor: pointer;">
          <span>{{filterItem.value}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="smart-filters"
    
   >
    <div [ngSwitch]="selectDot">
      <div *ngSwitchCase="'dotOne'"
        fxLayout="row wrap" fxLayoutGap="12px">
        <div *ngFor="let filterItem of smartFilters | slice: 0:6"
          class="smart-filter-item">
          <span>{{filterItem.filterValue}}</span>
          <span class="filter-chip"
          [ngClass]="filterItem.filterKey">
            <span>{{filterItem.filterName}}</span>
          </span>
        </div>
      </div>
      <div *ngSwitchCase="'dotTwo'"
        fxLayout="row wrap"  fxLayoutGap="12px">
        <div *ngFor="let filterItem of smartFilters | slice: 7:13"
          class="smart-filter-item">
          <span>{{filterItem.filterValue}}</span>
          <span class="filter-chip"
          [ngClass]="filterItem.filterKey">
            <span>{{filterItem.filterName}}</span>
          </span>
        </div>
      </div>
      <div *ngSwitchCase="'dotThree'"
        fxLayout="row wrap"  fxLayoutGap="12px">
        <div *ngFor="let filterItem of smartFilters | slice: 14:19"
          class="smart-filter-item">
          <span>{{filterItem.filterValue}}</span>
          <span class="filter-chip"
          [ngClass]="filterItem.filterKey">
            <span>{{filterItem.filterName}}</span>
          </span>
        </div>
      </div>
      <div *ngSwitchCase="'dotFour'"
        fxLayout="row wrap"  fxLayoutGap="12px">
        <div *ngFor="let filterItem of smartFilters | slice: 20:25"
          class="smart-filter-item">
          <span>{{filterItem.filterValue}}</span>
          <span class="filter-chip"
          [ngClass]="filterItem.filterKey">
            <span>{{filterItem.filterName}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row"
    fxLayoutGap="12px"
    class="slider"
    *ngIf="smartFilters.length > 6">
    <div class="circle"
      [ngClass]="{ 'selected': selectDot === 'dotOne' }" 
      (click)="changeSlider('dotOne')"></div>
    <div class="circle"
      [ngClass]="{ 'selected': selectDot === 'dotTwo' }"
      (click)="changeSlider('dotTwo')"></div>
    <div class="circle"
      [ngClass]="{ 'selected': selectDot === 'dotThree' }"
      (click)="changeSlider('dotThree')"></div>
    <div class="circle"
      [ngClass]="{ 'selected': selectDot === 'dotFour' }"
      (click)="changeSlider('dotFour')"></div>
  </div>
</div>