@import 'src/styles/colors.scss';

.filter-items {
  margin-top: 24px;
  height: 860px;
  mat-icon {
    color: $color-icon;
    margin-right: 8px;
  }
  .sector-filter-item {
    margin-right: 12px;
    width: 46%;
    border: 1px solid;
    border-color: $color-primary-border;
    padding: 0px 12px 12px 12px;
    border-radius: 8px;
  }
  .filter-chip {
    background: rgb(13,13,13);
    border-radius: none;
  }
}
